.add-book-form .book-title-input,
.add-book-form .book-author-input,
.add-book-form .book-pages-input,
.add-book-form .book-isRead-input {
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5%;
  border: 1px solid lightgray;
}

.btn-read {
  background-color: lightseagreen;
  margin-right: 0.5rem;
}

.btn-unread {
  background-color: lightpink;
  margin-right: 0.5rem;
}

.error-message {
  color: red;
}

.book-list {
  margin: 0 auto;
  max-width: 72rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}

.book-list-item {
}
